<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      Create Blog
      {% endblock %}
    </title>
  </head>
  <body>
    {% block greeting %}
    Create a new blog below!
    {% endblock %}
    
    {%block content%}
    {% endblock %}
    {% block form1 %}
    <form action= "/create" method="GET">
      Entry Title: <input type = "text" name = "entryTitle"> <br>
      Entry Text: <br> <textarea rows = "4" cols = "50" name = "entryText"></textarea>
      <br>
      
      <input type = "submit" value="Submit">
    </form>
    {% endblock %}
    {% block footer %}
    {% endblock %}

  </body>
</html>
