<!DOCTYPE html>
<html>
  <head>
    <title> HOME </title>
  </head>
  <body>

    {% block error %}
        {% if error %}
            {% set msgs = get_flashed_messages() %}
            {{ msgs[0] }}
        {% endif %}
    {% endblock %}

    <br>
    welcome back <b>{{ user }}</b>!

    <br>
    <br>
     you're currently logged in
    <br>
    <br>

    <form action= "/create" method="GET">
      <input type = "text" name = "blogName" placeholder='blog title'> <br>
      <textarea rows = "4" cols = "50" name="blogText">
      </textarea>
      <br>

      <input type = "submit" value="Submit">
      </form>

      <br>
      <br>
      <br>
      <br>

    <form action="/logout" name="main" method="POST">
                        <button name="enter" type="submit">
                        LOG OUT
                        </button>
    </form>
  </body>
</html>
