{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
      {% block title %}
    <title> HOME </title>
        {% endblock %}

    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='main.css') }}">

  </head>
  <body>
{% block content %}
<div class = "home">
<div class = "search">
    <form action="/search" name="main" method="GET" placeholder="Username">
      <input type="text" name="user" placeholder = 'username'>
      <button name="enter:" type="submit">
      Submit
      </button>
    </form>
</div>
    <br> <br>

    {% block error %}
        {% if error %}
            <font color="red">{% set msgs = get_flashed_messages() %}
              {{ msgs[0] }}
	      </font>
        {% endif %}
    {% endblock %}

<div class = "greeting">
    <br>
    welcome back <b>{{ user }}</b>!

    <br>
    <br>
    you're currently logged in
    <br>
    <br>

    Create an entry <a href="/createBlog">here</a>

    <br>
    <br>
    <br>
    <br>
  </div>
  <br><h3>Your blegg posts: </h3> <br>
    {% for n in range(entries|length) %}
<div class = "posts">

<br>
        <div class = "text">
        <u><b> {{ titles[n] }} </b></u>
        <br>
        {{ entries[n] }} <br> <br>

      </div>

        {{ dates[n] }} <br>
</div>
    {% endfor %}

    <form action="/logout" name="main" method="POST">
      <button name="enter" type="submit">
        LOG OUT
      </button>
    </form>
    {% endblock %}
</div>
  </body>
</html>
