{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}

      {% block title %}
    <title> SEARCH RESULTS </title>
    {% endblock %}
      <link rel=stylesheet type = text/css href="{{ url_for('static', filename='main.css') }}">
{% endblock %}
  </head>
  <body>
    {% block content %}
    <div class = "titler">
      <br><br>
    <h3> <b>THIS IS THE BLEGG OF <br> <br>{{ user }}</b> </h3>
  </div>
    <br> <br>

    {% for n in range(entries|length) %}
    <div class = "posts">

    <br>
            <div class = "text">
        <u> <b> {{ titles[n] }} </b> </u>
        <br>
        {{ entries[n] }}
        <br> <br>
</div>
</div>
    {% endfor %}

    <br> <br>
    return home <a href="/">here</a>
    <br> <br>
    <form action="/logout" name="main" method="POST">
      <button name="enter" type="submit">
        LOG OUT
      </button>
    </form>
    {% endblock %}
  </body>
</html>
