{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
    WELCOME TO GUDETAMA, YOUR FRIENDLY NEIGHBORHOOD BLOG SITE.
    <title> LOG IN </title>
  </head>
  <body>
    {% block error %}
        {% if error %}
            {% set msgs = get_flashed_messages() %}
            {{ msgs[0] }}
        {% endif %}
    {% endblock %}

    {% block content %}
    <form action="/auth" name="main" method="GET" placeholder="Username">
      <input type="text" name="user" placeholder = 'username'>
      <br>
      <input type="text" name="pass" placeholder = 'password'>
      <br>
      <button name="enter:" type="submit">
      Submit
      </button>
    </form>
     Don't have an account? Register <a href="/register">here</a>
    {% endblock %}
  </body>
</html>
