<!DOCTYPE html>
<html>
  <head>
    WELCOME TO GUDETAMA, YOUR FRIENDLY NEIGHBORHOOD BLOG SITE.
    <title> LOG IN </title>
  </head>
  <body>
    <br>
    enter your username:
    <br>
    <form action="/auth" name="main" method="GET" placeholder="username">
			<input type="text" name="user">
    <br> enter your password: <br>
    <form action="/auth" name="main" method="GET" placeholder="password">
    		<input type="text" name="pass">
		<button name="enter:" type="submit"> Submit </button>
    </form>
  </body>
</html>
