html 	{ /* cursor will appear for all html on the site */
	cursor: url("/static/cursor.cur"), progress !important; /* !important means that this will be prioritized */
  min-height: 100%;
  margin: 0;
  overflow-y: scroll;
}

html, body { /* applies to html in the body */
  height: 100%;
  overflow-y: scroll;
}

.page { /* applies to the specific class selector page, which is in the login and signup page */
  background-image:url('gudetama1.png');
  background-repeat: repeat-x;
  background-size: 100px 100px;
  background-position: bottom;
  min-height: 100%;
}

.title { /* applies to the specific class selector title, which is on the login page */
  width: 300 px;
  height: 200 px;
  text-align: center;
}

mark.yellow { /* applies to class selector yellow in element selector yellow to turn the words yellow */
  color:#FFDC6E;
  background: none;
  size: 16px;
  text-shadow: -1px -1px 0 #000,
		            1px -1px 0 #000,
		           -1px 1px 0 #000,
		            1px 1px 0 #000;
}

/* the class selectors below center the text and adjust the font size */
.login {
  text-align: center;
}

.create {
  text-align: center;
}

.search {
  text-align: right;
}

.greeting {
  text-align: center;
  font-size: 19px;
}

.home { /* adds an image to the home page when user is logged in */
  background-image: url("eggsistential.jpg");
  background-repeat: no-repeat;
  background-size: 250px 250px;
  background-position: top left;
}

.posts { /* adds a background speech bubble for each post on the user's home page */
  height: 130px;
  margin-bottom: 20px;
  background-image:url('white.png');
  background-repeat: no-repeat;
  background-size: 500px 130px;
  padding-left: 95px;

}

.text{ /* adjusts height of the text */
  height: 84px;
}

.new { /* centers text in the create post page */
  text-align:center;
}

.newblog { /* adjusts background and format of the create new post page */
  background-color: #FFDC6E;
  height: 100%;
  margin: 0px;
  padding: 25px;
}

.titler { /* adds Gudetama photo and aligns text on a user's blog */
  text-align: center;
  vertical-align: middle;
  height: 250px;
  background-image: url('gudechop.png');
  background-repeat: no-repeat;
  background-size: 250px 250px;
  background-position: top right;
}

h3 { /* applies to all h3 headings in the site */
  color: #65524D;
  font-size: 19px;
}
